<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <!-- Path for cross section library -->
  <cross_sections> 
    ../../data/cross_sections.xml
  </cross_sections>

  <!-- Parameters for criticality calculation -->
  <eigenvalue batches="120" generations_per_batch="1" inactive="20" particles="1000" />

  <!-- Starting source -->
  <source>
    <space type="box">
      <parameters> -0.62992 -0.62992 -5.0 0.62992 0.62992 5.0 </parameters>
    </space>
  </source>
  
</settings>
